<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <title>Vending Machine</title>
</head>
<body>
    <h1 class="heading1">Enter Quantity of Products:</h1>
    <form action="post" class="form">
        <input type="number" class="padcount" name="padcount" id="padcount" placeholder="Enter the number of pads:"><br>
        <button type="submit" class="qrbtn">Make the purchase</button>
    </form>
    <!-- <button class="btn1">Make the purchase</button><br> -->
    <button class="btn2">View recent transactions</button>

</body>
</html>
